<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{url_for('static', filename='/CSS/bootstrap.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='/CSS/initialize.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='/CSS/style.css')}}">
        <title>
            {% if title %} 
                {{title}} 
            {% else %} 
                Accueil 
            {% endif %}
        </title>
    </head>
    <body>
        {% include './partials/header.html' %}
        <div class="content">
            {% include './partials/navbar.html' %}
            {% block body %}
                
            {% endblock %}
        </div>
        
        
        <script src="{{url_for('static', filename='/Js/bootstrap.bundle.min.js')}}" ></script>
    </body>
</html>