<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='/CSS/bootstrap.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='/CSS/initialize.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='/CSS/style.css')}}">
    <title>Inscription</title>
</head>
<body>
    <header class="header">
        <div>
            <a href="/"><h1>E-Magasin</h1></a>
        </div>
    </header>
    <section class="connexion">
        <div class="container-inscription">
            <div class="form_inscrip">
                <h2 class="title">Inscrivez-vous</h2>
                <form class="formulaire" action="{{url_for('Succes_inscription')}}" method="post">
                    <div class="row">
                        <div class="mb-3 col-md-6">
                            <input type="text" name="Nom" class="form-control" placeholder="Nom de famille">
                        </div>
    
                        <div class="mb-3 col-md-6">
                            <input type="text" name="Prenoms" class="form-control" placeholder="Prénoms">
                        </div>
                    </div>
                    <div class="row border">
                        <div class="col-md-6">
                            <input type="text" name="Ville" class="form-control" placeholder="Ville">
                        </div>
                        <div class="col-md-6">
                            <select class="form-select" name="Roles" required aria-label="select example">
                                <option value="SimpleUse">SimpleUse</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="mb-3 col-md-6">
                            <input type="email" name="E_mail" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
                        </div>
                        <div class="mb-3 col-md-6">
                            <input type="password" name="Mot_de_passe" class="form-control" placeholder="Mot de passe" aria-describedby="passwordHelpBlock">
                        </div>
                    </div>
                    <input type="submit" value="Envoyer ">   
                </form>
                <a href="/"><u>Déià un compte ? Connecter-vous</u></a>
            </div>
        </div>
    </section>
    <script src="{{url_for('static', filename='/Js/bootstrap.bundle.min.js')}}" ></script>
</body>
</html>